<% include ../partials/header %>
<div class="row">
  <div class="col-md-3">
    <p class="lead">BestMealPrep</p>
  </div>
  <div class="col-md-9">
    <div class="thumbnail">
      <img class="img-responsive" src="<%= meal.image %>">
      <div class="caption-full">
        <h4 class="pull-right">
          $<%= meal.cost %> Avg. Cost
        </h4>
        <h4><a><%=meal.name%></a></h4>
        <p><%= meal.description %></p>
        <p>
          <em>Submitted by: <%= meal.author.username %>, <%= moment(meal.createdAt).fromNow() %></em>
        </p>
        <% if(currentUser && meal.author.id.equals(currentUser._id) || currentUser && currentUser.isAdmin){ %>
        <a class="btn btn-warning" href="/meals/<%= meal._id %>/edit">Edit</a>
        <form action="/meals/<%= meal._id %>?_method=DELETE" method="POST" class="delete-form">
          <button class="btn btn-danger">Delete</button>
        </form>
        <% } %>
      </div>
    </div>
    <div class="well">
      <div class="text-right">
        <a class="btn btn-success" href="/meals/<%= meal._id %>/comments/new">Add New Comment</a>
      </div>
      <hr>
      <% meal.comments.forEach(function(comment){ %>
      <div class="row">
        <div class="col-md-12">
          <strong><%= comment.author.username %></strong>
          <span class="pull-right"><%= moment(comment.createdAt).fromNow() %></span>
          <div>
           <%= comment.text %> 
           <% if(currentUser && comment.author.id.equals(currentUser._id) || currentUser && currentUser.isAdmin){ %>
            <div class="pull-right">
              <a href="/meals/<%=meal._id%>/comments/<%=comment._id%>/edit" class="btn btn-xs btn-warning">EDIT</a>
              <form class="delete-form" action="/meals/<%=meal._id%>/comments/<%=comment._id%>?_method=DELETE" method="POST">
                <button class="btn btn-xs btn-danger">DELETE</button>
              </form>
            </div>
          <% } %>
          <hr>
        </div>
      </div>
    </div>
    <% }) %>
  </div>
</div>
</div>
<% include ../partials/footer %>